@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
    font-family: "WorkSans";
    src: url("/fonts/WorkSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WorkSans";
    src: url("/fonts/WorkSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

.eg-gradient {
    background-image: linear-gradient(to bottom, #631A61, #551653, #340E33, #010101);
    height: 190px;
}

.dropdown-menu-arrow::before {
    content: "";
    position: absolute;
    top: -5px;
    left: calc(95% - 12px);
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.menu-item {
    @apply block px-4 py-2 text-sm text-white font-brand font-regular
}

.menu-item:hover {
    @apply hover:text-egDark-light
}

form input[type="text"], input[type="email"], input[type="password"] {
    @apply bg-egDark-dark font-brand font-regular text-white text-xs border border-white
}

form input[type="text"], input[type="email"], input[type="password"]:focus {
    @apply focus:outline-none focus:border-egLavender focus:ring-0
}

form input[type="search"]:focus {
    @apply focus:outline-none focus:border-egLavender-dark focus:ring-0
}

/* https://stackoverflow.com/questions/47041672/change-the-color-of-the-clear-button-x-in-input-type-search#75715124 */
form input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: #8C52FF;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}


input[type="radio"]:checked~label {
    @apply bg-egPurple border border-b-egDark-light z-20 text-white font-semibold
}

input[type="radio"]:checked~label~div {
    @apply z-10
}

/* https://stackoverflow.com/questions/61039259/disable-tailwind-on-a-div-or-component#78513190 */
#text-preview,
#text-preview * {
    all: revert !important;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-padding-bottom */
html,
.scroller {
    scroll-padding-bottom: 32px;
    overflow-x: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    transition: scrollbar-color 2s ease-in-out;
}

html,
.scroller:hover {
    scrollbar-color: #3C3B3B transparent;
}

.create-button {
    @apply bg-egPurple border border-white font-brand font-regular text-black text-base
}

.create-button:hover {
    @apply hover:bg-egPurple-dark text-egDark-light border-egDark-light
}

.round-image-padding {
    border-radius: 50%;
    border: 1.5px solid #ffffff;
    padding: 4px;
}

.img-down-arrow::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 45%;
    transform: translateY(-50%);
    border-width: 3px 3px 0 3px;
    border-color: white transparent transparent transparent;
    border-style: solid;
}